.personalInf-box {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  margin: 1rem;
  text-align: center;
  max-width: 52rem;
  padding: 1.5rem;
}

.personalInf-box-flex {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.personalInf-title {
  color: #333333;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  text-align: left;
  width: 75%;
}

.personalInf-button-delete-form {
  background-color: #fff;
  border: 1px solid #ff0000;
  border-radius: 5px;
  color: #ff0000;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  padding: 0.4rem;
  text-align: center;
  transition: all 0.3s ease;
  width: 20%;
}

.personalInf-button-delete-form:hover {
  background-color: #ff0000;
  color: #fff;
}

.personalInf-button-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  outline: none;
  border: none;
  width: 12rem;
  height: 12rem;
  text-align: center;
  border: 2px dashed #a6a6a6;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 0.7rem;
  color: #a6a6a6;
}

.personalInf-item {
  display: flex;
  flex-direction: column;
  height: 4rem;
  justify-content: center;
  margin: 0.5rem 0;
  opacity: 1;
  position: relative;
  transition: all 0.3s ease;
  width: 48%;
}

.personalInf-item-hidden {
  opacity: 0;
  visibility: hidden;
}

.personalInf-label {
  font-size: 1rem;
  text-align: left;
  color: #333333;
}

.personalInf-input {
  width: 100%;
  height: 2.5rem;
  border-radius: 0.2rem;
  padding: 0.5rem;
  font-size: 1.1rem;
  outline: none;
  border: 0.13rem solid #ccc;
}

.personalInf-input:focus {
  border-color: #0584ce;
  background-color: #0583cc1a;
}

.personalInf-button-delete-input {
  position: absolute;
  top: 1.7rem;
  right: 0.4rem;
  border: none;
  background-color: transparent;
  color: #333333;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.4rem;
  text-align: center;
  transition: color 0.3s ease;
}

.personalInf-button-delete-input:hover {
  color: #000000;
}

.personalInf-button-more {
  align-items: center;
  background-color: #0575b6;
  border: none;
  border-radius: 0.2rem;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 1.5rem;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 0.1rem;
  height: 3rem;
  outline: none;
  transition: background-color 0.3s ease;
  width: 100%;
}

.personalInf-button-more:hover {
  background-color: #0584ce;
}

.personalInf-ico-button {
  margin-right: 0.5rem;
}

.mb-0_5 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.w-68 {
  width: 68%;
}

.w-100 {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .personalInf-box {
    margin: 0.5rem;
  }

  .personalInf-item {
    width: 100%;
  }

  .personalInf-button-more {
    margin-top: 1rem;
  }

  .w-68 {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .personalInf-button-delete-form {
    font-size: 0.7rem;
  }
}
